

    .container1 {
        background-image: url('/iotwms/uploads/logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        opacity: 0.5;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content1 {
        margin-top: 50px;
        text-align: center;
    }

th {
    text-align: center;
  }
  .details-tbl tr, .details-tbl td, .details-tbl th{
    border : unset !important;
}
.details-tbl td, .details-tbl th{
    padding :3px 5px !important;
}

  